* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  font-family: "Arsenal", sans-serif;
}

html,
body {
  max-width: 1200px;
  color: #a3abb2;
}

a {
  color: inherit;
  text-decoration: none;
}
